---
permalink: /index.html
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url=/ru/">
  <title>Redirecting…</title>
</head>
<body>
  <script>window.location.href='/ru/';</script>
  <p><a href="/ru/">Continue to site</a></p>
</body>
</html>
